/* Navbar.module.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    margin: 0 1rem;
  }

  .nav-link{
    color: white !important;
    text-decoration: none;
  }

  .nav-link:hover {
    text-decoration: none;
  }

  .navbarActions {
    margin-right: 20px; /* Adjust this value as needed */
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 8px;
    font-size: 16px;
    padding: 5px 10px;
  }
  
  .navbar a:hover {
    color: #f0a500;
  }
  
  .navbar button {
    background-color: red;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    margin:16px 26px;
  }
  
  .navbar button:hover {
    background-color: darkred;
  }  

  .body-content{
    margin-top: 60px;
  }